.navbar-container {
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}

.navbar {
    margin: 0 auto;
    max-width: 1605px;
    border-bottom: 0;
    padding: 4px 15px 2px;
    height: 36px;
    display: flex;
    align-items: stretch;
}

.navbar .menu-icon, .navbar .search-icon-menu button {
    background: transparent;
    border: 0
}

.menu-icon {
    border: 0;
    display: inline-block;
    margin-right: 8px;
}

.menu-icon-svg {
    display: inline-block;
    height: 16px;
    vertical-align: sub;
    width: 16px;
}

.search-icon-svg {
    display: inline-block;
    height: 16px;
    vertical-align: sub;
    width: 16px;
}


.search-icon-menu {
    border: 0;
    display: inline-block;
    margin-right: 8px;
}

.space-and-cosmos {
    display: inline-block;
    left: 105px;
    line-height: 19px;
    top: 10px;
}

.space-and-cosmos a {
    letter-spacing: 0.7px;
    line-height: 19px;
    font-size: 14.25px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.menu-search-icons {
    justify-content: space-around;
    left: 10px;
    display: inline-block;
    width: fit-content;
}

.newyork-times-logo {
    width: 195px;
    height: 26px;
    margin: 6px auto 0;
    display: inline-block;
}

.newyork-times-svg {
    height: 26px;
    width: 195px;
}

.logo {
    display: contents;
}